*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  background-color: #333;
  width: 100%;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  padding: 15px 20px;
  color: white;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #555;
}
