a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.active {
    color: yellow;
    font-size: 20px;

}


.edu-card {
    margin-top: 1em;
    max-width: 100%;
    height: 300px;
    padding: 20px;
    border-radius: 12px;
    background: #060606;
    color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.edu-card:hover {
    transform: translateY(-5px);
}

.college {
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 6px;
}

.degree {
      color: white;
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 12px;
}

.edu-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
   color: white;
}