* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container {
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 221);
    border: 1px solid;
} */


.one {
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: green;
}

@media screen and (max-width: 769px) {
.one {
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: red;
}
}


@media screen and (min-width: 770px) {
.one {
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: rgb(255, 0, 166);
}
}