.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #e5e7eb;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
