   .nav-container {
    background-color: #fda7a7;
    padding: 10px;
  }

  a{
    list-style: none;
    text-decoration: none;
    color: black;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    cursor: pointer;
    font-weight: 500;
  }

  .nav-item:hover {
    color: #007bff;
  }
   
   .card {
      width: 250px;
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      font-family: Arial, sans-serif;
      margin-top: 2em;
    }

    .card-image {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }
   .card-body {
      padding: 15px;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .card-description {
      font-size: 14px;
      color: #555;
      margin-bottom: 12px;
    }

    .card-price {
      font-size: 16px;
      font-weight: bold;
      color: #2e8b57;
    }