.blinkit-navbar {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  font-family: Arial, sans-serif;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #16a34a;
}

.logo span {
  color: #facc15;
}

.location .delivery {
  font-size: 12px;
  font-weight: bold;
}

.location .address {
  font-size: 12px;
  color: #4b5563;
  cursor: pointer;
}

/* SEARCH */
.search-box {
  flex: 1;
  padding: 0 24px;
}

.search-box input {
  width: 90%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  font-size: 14px;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-btn {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.cart-btn {
  background-color: #16a34a;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
